<%-include("layout/header") %>

<div class="bg-slate-100 px-10">
  <p class="text-4xl font-bold py-5">Add new User</p>
  <form action="/" method="post">
    <label for="name" class="text-xl font-semibold">Name:</label><br />
    <input
      type="text"
      id="name"
      name="name"
      class="w-10/12 md:w-4/12 p-2 rounded-md my-2"
    /><br />
    <label for="name" class="text-xl font-semibold">Job:</label><br />
    <input
      type="text"
      id="name"
      name="job"
      class="w-10/12 md:w-4/12 p-2 rounded-md my-2"
    /><br />
    <label for="age" class="text-xl font-semibold">Sallary:</label><br />
    <input
      type="text"
      id="age"
      name="sallary"
      class="w-10/12 md:w-4/12 p-2 rounded-md my-2"
    />
    <button
      type="submit"
      class="bg-blue-500 text-white font-semibold text-xl block p-2 w-4/12 my-4 rounded-md"
    >
      Save
    </button>
  </form>
</div>

<%-include("layout/footer") %>
